<!--The View component (trails/index.html.erb) is used for all the UI logic of the trails. It is basically all the componenets
that the user or the customer sees when they navigate throught the "Find Trails" tab. In this page we have headers, 
Link to Show, Edit, Map, Delete, link to the home page and more.
-->

<body>
<ul>
  <li><a href="https://www.facebook.com/groups/532937140892453/" target="_blank">Follow our FB page</a></li>
  
  <li><a href="#about">About</a></li>
  <li><a <%= link_to 'Add a New Trail', new_trail_path%></a></li>
  <li><a <%= link_to 'Home', mainpage_index_path %></a></li>
  <h1 class="home">Safe<img src="https://cdn.vectorstock.com/i/1000x1000/24/76/bike-wheel-on-white-backgrou-vector-13472476.jpg" height="40" width="40">Lane </h1>
</ul>






<h1>Biking Trails in Charlotte, North Carolina</h1>


<% @trail.each do |trail| %>
<h2>
  <%= trail.Name %>
  <%= trail.Location %>
  <%= link_to 'Show', trail_path(trail) %>&nbsp;
  <%= link_to 'Edit', edit_trail_path(trail) %>&nbsp;
  <%= link_to 'Map', controller: 'maps' %> &nbsp;
  <%= link_to 'Delete',
       trail_path(trail),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>

</h2>
<% end %>




<div class="footer"> 
 <li><a href="#contact">Contact Us</a></li>
 <li><a href="#privacy">Privacy Policy</a></li>
 <li><a href="#terms">Terms of Use</a></li>
 <h2>“Ride as much or as little, as long or as short as you feel. But ride” – Eddy Merckx</h2>
</div>
