<h1>Biking Trails in Charlotte</h1>
<%= link_to 'Add a New Trail', new_trail_path %>

<% @trail.each do |trail| %>
<p>
  <%= trail.Name %>
  <%= trail.Location %>
  <%= link_to 'Show', trail_path(trail) %>
  <%= link_to 'Edit', edit_trail_path(trail) %>
</p>
<% end %>

<%= link_to 'Home', root_path %>