<p>
    <strong>Name:</strong>
    <%= @trail.Name %>
</p>

<p>
    <strong>Location:</strong>
    <%= @trail.Location %>
</p>

<% (0...@trail.images.count).each do |image| %>
<%= image_tag(@trail.thumbnail(image)) %>
<% end %>

<p>
    <strong>Description:</strong>
    <%= @trail.Description %>
</p>
<%= link_to 'Back to trails list', trails_path %>