<!--
The View component (trails/show.html.erb) is used for all the UI logic of the "show" tab under trails. It is basically all the componenets
that the user or the customer sees when they navigate throught this tab of an already existing trail. In this page we have the information about the trail 
such as Name, Location, Description. Also, we have the place for the user feedback as well as a link to the "Find Trails" page. 

-->

<body>
<ul>
  <li><a href="https://www.facebook.com/groups/532937140892453/" target="_blank">Follow our FB page</a></li>
  
  <li><a href="#about">About</a></li>
  <li><a <%= link_to 'Back to trails list', trails_path %></a></li>
  <li><a <%= link_to 'Home', mainpage_index_path %></a></li>
  <h1 class="home">Safe<img src="https://cdn.vectorstock.com/i/1000x1000/24/76/bike-wheel-on-white-backgrou-vector-13472476.jpg" height="40" width="40">Lane </h1>
</ul>

<p>
    <strong>Name:</strong>
    <%= @trail.Name %>
</p>

<p>
    <strong>Location:</strong>
    <%= @trail.Location %>
</p>

<h2>
<% (0...@trail.images.count).each do |image| %>
<%= image_tag(@trail.thumbnail(image)) %>
<% end %>
</h2>

<p>
    <strong>Description:</strong>
    <%= @trail.Description %>
</p>


<h2>Review</h2>
<% @trail.reviews.each do |review| %>
  <p>
    <strong>Difficulty:</strong>
    <%= review.difficulty %>
  </p>
 
   <p>
    <strong>Security:</strong>
    <%= review.security %>
  </p>
 
  <p>
    <strong>Feedback:</strong>
    <%= review.body %>
  </p>
<% end %>

<p>Add a review:</p>
<%= form_for([@trail, @trail.reviews.build]) do |f| %>
  <p>
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty %>
  </p>
  
    <p>
    <%= f.label :security %><br>
    <%= f.text_field :security %>
  </p>
  <p>
    <%= f.label :Feedback %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<div class="footer"> 
 <li><a href="#contact">Contact Us</a></li>
 <li><a href="#privacy">Privacy Policy</a></li>
 <li><a href="#terms">Terms of Use</a></li>
 <h2>“Ride as much or as little, as long or as short as you feel. But ride” – Eddy Merckx</h2>
</div>


