

<ul>
  <li><a href="https://www.facebook.com/groups/532937140892453/" target="_blank">Follow our FB page</a></li>
  
  <li><a href="#about">About</a></li>
  <li><a <%= link_to 'Feedback'%></a></li>
  <li><a <%= link_to 'Back to trails list', controller: 'trails' %></a></li>
  <h1 class="home">Safe<img src="https://cdn.vectorstock.com/i/1000x1000/24/76/bike-wheel-on-white-backgrou-vector-13472476.jpg" height="40" width="40">Lane </h1>
</ul>

<body class= "trailbackground">


<p>
    <strong>Name:</strong>
    <%= @trail.Name %>
</p>

<p>
    <strong>Location:</strong>
    <%= @trail.Location %>
</p>

<% (0...@trail.images.count).each do |image| %>
<%= image_tag(@trail.thumbnail(image)) %>
<% end %>

<p>
    <strong>Description:</strong>
    <%= @trail.Description %>
</p>


<h1>Review</h1>
<% @trail.reviews.each do |review| %>
  <p>
    <strong>Difficulty 1-5:</strong>
    <%= review.difficulty %>
  </p>
 
   <p>
    <strong>Security 1-5:</strong>
    <%= review.security %>
  </p>
 
  <p>
    <strong>Feedback:</strong>
    <%= review.body %>
  </p>
<% end %>

<h1>Add a review:</h1>
<%= form_for([@trail, @trail.reviews.build]) do |f| %>
  <p>
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty %>
  </p>
  
    <p>
    <%= f.label :security %><br>
    <%= f.text_field :security %>
  </p>
  <p>
    <%= f.label :Feedback %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

</body>

