<!--
The View component (trails/show.html.erb) is used for all the UI logic of the "show" tab under trails. It is basically all the componenets
that the user or the customer sees when they navigate throught this tab of an already existing trail. In this page we have the information about the trail 
such as Name, Location, Description. Also, we have the place for the user feedback as well as a link to the "Find Trails" page. 

-->

<p>
    <strong>Name:</strong>
    <%= @trail.Name %>
</p>

<p>
    <strong>Location:</strong>
    <%= @trail.Location %>
</p>

<h2>
<% (0...@trail.images.count).each do |image| %>
<%= image_tag(@trail.thumbnail(image)) %>
<% end %>
</h2>

<p>
    <strong>Description:</strong>
    <%= @trail.Description %>
</p>


<h2>Review</h2>
<% @trail.reviews.each do |review| %>
  <p>
    <strong>Difficulty:</strong>
    <%= review.difficulty %>
  </p>
 
   <p>
    <strong>Security:</strong>
    <%= review.security %>
  </p>
 
  <p>
    <strong>Feedback:</strong>
    <%= review.body %>
  </p>
<% end %>

<p>Add a review:</p>
<%= form_for([@trail, @trail.reviews.build]) do |f| %>
  <p>
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty %>
  </p>
  
    <p>
    <%= f.label :security %><br>
    <%= f.text_field :security %>
  </p>
  <p>
    <%= f.label :Feedback %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= link_to 'Back to trails list', trails_path %>